.page-template-page-aboutus{

	article{
			width: 100%;
			max-width: 949px; // a more sensible max width
			//max-width: 723px;
			margin: 0;
	}
		.column{
			margin: 2rem 0 0 0;
		}
		img.logo{
			max-width: 300px;
			width: 80%;
			margin: 0 0 1rem 0;
			// /height: 80px;
		}		
	@include breakpoint($small) {	
		.column{ // column buttons are positioned in a weird way to ensute the matchHeight JS calculates correctly
			width:29.8%;
			float: left;
			margin-right:5%;
			padding-bottom: 4rem;
			position: relative;
		}
		.column.last{
			margin-right: 0;
		}
		.buttonField{ 
			position: absolute;
			bottom: -1rem;
		}	
	}
}