
	.speakerBox{
			border-top: 1px solid $midGrey;
			//border-bottom: 1px solid $midGrey;
			color: $oceanGrey;
			@include clearfix();
			padding: 17px 0;
			min-height: 6rem;

			p{
				margin: 0;
				overflow: hidden;
			}

			h3{
				font-weight: normal;
			}
			
			img{
				width: 17%;
				margin: 0 5% 0 0;
				display: block;
				float: left;
				min-width: 82px;
				max-width: 146px;
			}			
		@include breakpoint($medium) {		

			width: 48.5%;

			&.left{
				float: left;
				clear: left;
			}
			&.right{
				float: right;
			}		
			&.full{
				width: 100%;
			}	
		}		
	}