// PROJECT VARIABLES

$bodyFont : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$blue			: #00294f;
$bodyTextColor	: darkgrey;
$bodyLinkColor 	: #0066cc;

$pageWidth		: 1300px;

@import "../bower_components/rebase-reset-scss/rebase"; // Include custom reset (uses SASS variables above)
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint"; // include Breakpoint-sass


// Breakpoint-sass setup

//$breakpoint-no-query-fallbacks: true;
@include breakpoint-set('no query fallbacks', true);

$nav:	  800px, 'no-query' '.no-mq'; // these get applied to ie7&8 as well
$small:   500px, 'no-query' '.no-mq'; 
$medium:  800px, 'no-query' '.no-mq'; 
$large:   1200px, 'no-query' '.no-mq';
$max:	  1300px; 



// PARTIALS - Include for each component or page

@import "global";			// common styles
//@import "navigation";		// burger nav and desktop menu styles
@import "typography";		// reusable font styles
@import "wysiwygRules";		// wysiwyg rules
@import "tablesaw";			// tablesaw JS plugin styles - https://github.com/filamentgroup/tablesaw/

@import "cExample";			// example component


